body {
  background-color: #210f03;
  background-size: 8%;
  border: 0;
  margin: 0;
  padding: 0;
  top: 0;
  font-family: 'Playfair Display', serif;
}

nav {
  background-color: #2fc8cb;
  height: 3em;
  width: 100%;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
/*   margin-left: 12em;
  margin-right: 14em; */
}

.nav-left {
  display: inline-block;
  margin-left: 12em;
  position: absolute;
}

.nav-right {
  display: inline-block;
  margin-left: 43em;
  position: relative;
}

.nav-left li {
  float: left;
}

.nav-right li {
  float: right;
}

.nav-item a {
  color: white;
  display: block;
  font-size: 16px;
  margin-left: 4em;
  text-align: center;
  text-decoration: none;
}

.cookie-bite {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#heading {
  color: white;
  font-family: 'Satisfy', cursive;
  font-size: 50px;
  position: relative;
  text-align: center;
}

#section2 {
  background-color: white;
  margin-top: 100px;
  height: 200px;
}

.recipe {
  text-align: center;
}

.list-left {
  color: white;
  border-right: 1px dotted white;
  display: inline-block;
  font-family: 'Vidaloka';
  list-style-type: cjk-ideographic;
  margin-left: 25%;
  padding-right: 35px;
  position: absolute;
  width: 250px;
}

.list-right {
  color: white;
  display: inline-block;
  font-family: 'Vidaloka';
  list-style-type: cjk-ideographic;
  margin-left: 55%;
  position: relative;
  width: 250px;
}

.list-left li {
  margin-bottom: 35px;
  
}

.list-right li {
  margin-bottom: 35px;
}


